GPS_TRUCK_ID=truck001
GPS_SERIAL_PORT=/dev/ttyUSB1
GPS_CONTROL_PORT=/dev/ttyUSB2
GPS_API_BASE_URL=http://34.80.174.56:8080
GPS_API_TOKEN=replace-with-a-device-token
GPS_UPLOAD_INTERVAL=1s
GPS_REQUEST_TIMEOUT=10s
GPS_AUTO_START=true
GPS_CONFIGURE_SERIAL=false
