CAMERA_TRUCK_ID=truck001
CAMERA_ID=cam01
CAMERA_MEDIA_SERVER=rtsp://stream.example.com:8554
CAMERA_PUBLISH_PASSWORD=replace-with-a-truck-publish-password
CAMERA_DEVICE=/dev/video0
CAMERA_FOURCC=UYVY
CAMERA_PIXEL_FORMAT=uyvy422
CAMERA_WIDTH=1920
CAMERA_HEIGHT=1080
CAMERA_FPS=25
CAMERA_RETRY_SECONDS=5
CAMERA_MAIN_HEIGHT=720
CAMERA_MAIN_FPS=12
CAMERA_MAIN_BITRATE=1500k
CAMERA_MAIN_BUFFER=3000k
CAMERA_MAIN_GOP=24
CAMERA_SUB_HEIGHT=360
CAMERA_SUB_FPS=8
CAMERA_SUB_BITRATE=300k
CAMERA_SUB_BUFFER=600k
CAMERA_SUB_GOP=16
